*.msh
*.dat
*.txt
*.vtk

thermal-square-dirichlet-*
thermal-square-neumann-*
thermal-square_kofspace-dirichlet-*
thermal-square_kofspace-neumann-*
thermal-square-convection-*
thermal-cube-dirichlet-*
thermal-cube-neumann-*
thermal-cube_kofspace-dirichlet-*
thermal-cube_kofspace-neumann-*

thermal-square-e2.ppl
thermal-square-einf.ppl
thermal-square-fits.ppl

thermal-square_kofspace-e2.ppl
thermal-square_kofspace-einf.ppl
thermal-square_kofspace-fits.ppl

thermal-cube-e2.ppl
thermal-cube-einf.ppl
thermal-cube-fits.ppl

thermal-cube_kofspace-e2.ppl
thermal-cube_kofspace-einf.ppl
thermal-cube_kofspace-fits.ppl

thermal-*.pdf
README.pdf
stuff
output
hash.yaml


automesher
comparison
mms
